:root{
    --primary-color:#fff;
    --secondary-color:#1b1b1b;
}
.dark-theme {
    --primary-color: #1b1b1b;
    --secondry-color: #fff;
}
body{
    background-color: turquoise;
 } 
 

*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins',sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    background-color: var(--primary-color) ;
    padding-right: 7%;
    padding-left: 3%;
    box-sizing: border-box;
    position: relative;

}
.navbar{
    width: 100%;
    height: 8.5vh;
    margin: auto;
    display: flex;
    background:rgb(5, 5, 5);
    /* position: sticky; */
   
}
.logo{
    width: 85px;
    margin-top: 2px;
    cursor: pointer;
}
/* body{
    background-color: paleturquoise;
} */
nav{
    flex: 1;
    padding-left: 770px;
   
}
nav ul li{
    margin-top: 15px;
    display: inline-block;
    list-style: none;

}
nav ul li a{
    margin-left: 32px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 1900;
    transition: all .8s;
}
.hove:hover{
    color: orangered;
}
nav ul li a:hover{
    transform: scale(1.7);
    transform: all .8s;

    color:orangered;
}
#moon{
    width: 22px;
    height: 22px;
    margin-top: 12px;    
    margin-right:49px;    
    cursor: pointer;

}
.content{
    position: relative;
    margin-top: 50px;
}
h1{
    margin-left: 89px;
    text-transform: uppercase;
    font-weight: 800 ;
    margin-top: 100px;
    letter-spacing: .01em;
    font-size: 50px;
    color: var(--secondary-color);
    padding-top: 40px;
}
span{
    color: orangered;
}

p{
    margin-left: 94px;
    font-size: 22px;
    letter-spacing: .01rem;
    color: var(--secondary-color);
}
.text{
  
    position: relative;
    margin: auto;
    display: flex;
    margin: 20px;

}
.btn{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin-top: 50px;
    margin-left: 67PX;
    padding: 12px;
    font-weight: bold;
    border-radius: 25px;
    border: none;
    width: 220px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    font-size: 16px;
    transition: all .6s;

}
.btn:hover{
    transform: scale(1.1);
    transform: all .6s;
    color: orangered;
}
.social-media{
    margin: 20px;
    margin-left: 60px;
    margin-top: 40px;

}
.fa{
    transition: all .8s;
    color: var(--secondary-color);
    margin-left: 29px;
    
}
.fa:hover{
    transform: scale(1.4);
    transform: all .8s;
    color: orangered;
   
}

.pic{
    position: absolute;
    width: 60%;
    height: 670px;
    bottom: 0;
    margin-bottom: -112px;
    margin-left: 550px;
}